In [ ]:
#carregar dados csv de 3 ações com fechamento
#converter dados para datetime
#tratar valores ausentes
#calcular retornos diários para cada ação
#calcular retornos acumulados
#calcular volatilidade diária
#identificar o melhor e pior desempenho

In [1]:
import pandas as pd

In [29]:
df = pd.read_csv('acoes.csv', index_col='Date')
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
df['Acao_x']

Date
2024-01-01    100.0
2024-01-02    101.5
2024-01-03    100.8
2024-01-04    102.0
2024-01-05    103.2
2024-01-08    102.9
2024-01-09    103.5
2024-01-10    104.0
2024-01-10    103.8
2024-01-12    104.5
2024-01-15    105.0
2024-01-16    104.8
2024-01-17    105.5
2024-01-18    106.0
2024-01-19    106.2
Name: Acao_x, dtype: float64

In [27]:
df.isna()

            Acao_x  Acao_Y  Acao_Z
Date
2024-01-01   False   False   False
2024-01-02   False   False   False
2024-01-03   False   False   False
2024-01-04   False   False   False
2024-01-05   False   False   False
2024-01-08   False   False   False
2024-01-09   False   False   False
2024-01-10   False   False   False
2024-01-10   False   False   False
2024-01-12   False   False   False
2024-01-15   False   False   False
2024-01-16   False   False   False
2024-01-17   False   False   False
2024-01-18   False   False   False
2024-01-19   False   False   False

In [34]:
daily_return_x = df.pct_change()
daily_return_x

              Acao_x    Acao_Y    Acao_Z
Date
2024-01-01       NaN       NaN       NaN
2024-01-02  0.015000  0.010000  0.010000
2024-01-03 -0.006897  0.013861 -0.002475
2024-01-04  0.011905 -0.005859  0.007444
2024-01-05  0.011765  0.011788  0.007389
2024-01-08 -0.002907 -0.003883 -0.002445
2024-01-09  0.005831  0.009747  0.004902
2024-01-10  0.004831  0.003861  0.004878
2024-01-10 -0.001923 -0.001923 -0.002427
2024-01-12  0.006744  0.011561  0.006326
2024-01-15  0.004785  0.005714  0.003385
2024-01-16 -0.001905 -0.001894 -0.002410
2024-01-17  0.006679  0.005693  0.004831
2024-01-18  0.004739  0.003774  0.002404
2024-01-19  0.001887  0.005639  0.002398